{
  "Version": "2012-10-17",
  "Statement": [{
    "Effect": "Allow",
    "Action": "lightsail:CreateInstanceSnapshot",
    "Resource": "arn:aws:lightsail:REGION:ACCOUNT_ID:Instance/INSTANCE_RESOURCE_ID"
  }]
}
