{$SITE_DOMAIN} {
    encode zstd gzip
    @privateMetrics path /metrics /metrics/*
    respond @privateMetrics 404
    reverse_proxy api:8000
    log {
        output stdout
        format filter {
            wrap json
            fields {
                request>headers delete
                request>uri delete
            }
        }
    }
}
